body
{
    background-color:rgb(214, 255, 239);
    user-select: none;
}

p
{
    margin:0;
    font-weight: bold;
}
.outer-ring
{
    width:540px;
    height:540px;
    border-radius: 50%;
    background-color:gray;
    display:flex;
}
.game-holder
{
    width:100%;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.game
{
    margin:auto;
    width:500px;
    height:500px;
    background-color:gray;
    border-radius:50%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;justify-content: space-between;
    overflow: hidden;
}

.button-yellow, .button-green, .button-red, .button-blue
{
    background-color:yellow;
    width:245px;
    height:250px;
    border: 2px solid yellow;
    opacity: 1;
    filter:brightness(0.65);
    cursor:pointer;
}
.button-yellow
{
    border-bottom-left-radius:100%;
}
.button-green
{
    background-color:green;
    margin-bottom:10px;
    border-color:green;
    border-top-left-radius:100%;
}
.button-red
{
    background-color:red;
    border-color:red;
    border-top-right-radius:100%;

}
.button-blue
{
    background-color:blueviolet;
    border-color:blueviolet;
    border-bottom-right-radius:100%;
}
.hover:hover
{
    filter:brightness(1) !important;
}

.controls
{
    margin-top:5px;
    width:330px;
    height:330px;
    background-color: gray;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    border-radius: 50%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.controls .title
{
    height:140px;
    width:270px;
    border:1px solid black;
    border-top-right-radius: 280px;
    border-top-left-radius: 280px;
    margin:15px;
    margin-bottom:5px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:black;
}
.controls .title h1
{
    text-align: center;
    padding-top:50px;
    font-size: 64px;
    color:gray;
}
.controls .bottom-panel
{
    margin:15px;
    margin-top:5;
    height:140px;
    width:270px;
    border:1px solid black;
    border-bottom-right-radius: 280px;
    border-bottom-left-radius: 280px;
}
.top-commands
{
    margin-top:10px;
}
.bottom-commands
{
    margin-top:20px;
}
.light
{
    width:10px;
    height:10px;
    border-radius:50%;
    background-color:rgb(85, 0, 0);
    transition: all 0.5s ease;
}
.switch-holder
{
    width:50px;
    height: 25px;
    border:1px solid black;
    margin:0 5px;
    background-color:rgb(70, 70, 70);
}
.switch
{
    width:50%;
    height:100%;
    background-color:rgb(100, 99, 99);
    transition: all 0.5s ease;
}
button:focus
{
    outline: none;
}

.start-indicator, .strict-indicator
{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:0 10px;
}
.start-indicator button, .strict-indicator button
{
    height:20px;
    width:20px;
    border-radius: 50%;
    background-color:green;
}
.strict-indicator button
{
    background-color:red;
}
.display
{
    margin:0 10px;
    width:85px;
    height: 30px;
    background-color:rgb(54, 0, 0);
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.strict, .level
{
    color:red;
    font-family: 'VT323', monospace;
    margin-left:5px;
    margin-right:10px;
    font-size:18px;
    font-weight: normal;
}